<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSBonjourServices</key>
	<array>
		<string>_http._tcp</string>
		<string>_ftp._tcp</string>
		<string>_services._dns-sd._udp</string>
		<string> _ipp._tcp</string>
		<string>_raop._tcp</string>
		<string>_airdrop._tcp</string>
		<string>_apple-mobdev2._tcp</string>
		<string>_daap._tcp</string>
		<string>_bluetoothd2._tcp&quot;</string>
	</array>
</dict>
</plist>
